# DSCI 552 — Homework 0

**Name:** senpang 
**GitHub Username:** senpang-coder
**USC ID:** 8598139533

## 2. Setting up an Integrated Development Environment (IDE)

## 3. Google Colab

## 4. Pandas

Load `Salaries.csv` using **relative path** from `../data/`.  
Follow the sub-questions (a)–(g) exactly as in the assignment.

In [3]:

import pandas as pd

csv_path = "/Users/pang/Desktop/552/homework/hw0_starter/data/Salaries.csv"

In [5]:
df = pd.read_csv(
    csv_path,
    index_col="playerID",  
    header=0,              
    skiprows=[1]           
)

df.head()

           yearID teamID lgID  salary
playerID
bedrost01    1985    ATL   NL  550000
benedbr01    1985    ATL   NL  545000
campri01     1985    ATL   NL  633333
ceronri01    1985    ATL   NL  625000
chambch01    1985    ATL   NL  800000

In [7]:
filtered = df[(df["teamID"].isin(["ATL", "HOU"])) & (df["salary"] > 1_000_000)]
player_ids = filtered.index.unique()
player_ids

Index(['hornebo01', 'murphda05', 'suttebr01', 'ryanno01', 'griffke01',
       'smithda02', 'clancji01', 'davisgl01', 'ramirra01', 'scottmi03',
       ...
       'simmoan01', 'carmofa01', 'cartech02', 'congeha01', 'gonzama01',
       'gregelu01', 'neshepa01', 'rasmuco01', 'sippto01', 'valbulu01'],
      dtype='object', name='playerID', length=242)

In [9]:
#salary
atl_salary = df.loc[df["teamID"] == "ATL", "salary"]


desc = atl_salary.describe(percentiles=[0.25, 0.5, 0.75])
print(desc)

std_val = atl_salary.std()      
q1_val = atl_salary.quantile(0.25)  
median_val = atl_salary.median()    
q3_val = atl_salary.quantile(0.75)  
mean_val = atl_salary.mean()    
max_val = atl_salary.max()      
min_val = atl_salary.min()      

print("Std:", std_val)
print("Q1:", q1_val)
print("Median:", median_val)
print("Q3:", q3_val)
print("Mean:", mean_val)
print("Max:", max_val)
print("Min:", min_val)

count    8.850000e+02
mean     2.207749e+06
std      3.434320e+06
min      6.000000e+04
25%      3.000000e+05
50%      6.000000e+05
75%      2.400000e+06
max      1.606180e+07
Name: salary, dtype: float64
Std: 3434319.605441606
Q1: 300000.0
Median: 600000.0
Q3: 2400000.0
Mean: 2207749.190960452
Max: 16061802
Min: 60000

In [11]:
# 初始化一个空字典，键为列名，值为列表
dict_from_df = {col: [] for col in df.columns}

# 用 iterrows() 遍历每一行
for idx, row in df.iterrows():
    for col in df.columns:
        dict_from_df[col].append(row[col])

# 查看结果（只打印前几个键值对）
for k, v in list(dict_from_df.items())[:3]:
    print(k, ":", v[:5])  # 只展示前5个元素

yearID : [1985, 1985, 1985, 1985, 1985]
teamID : ['ATL', 'ATL', 'ATL', 'ATL', 'ATL']
lgID : ['NL', 'NL', 'NL', 'NL', 'NL']

In [13]:
import string
import pandas as pd


new_df = pd.DataFrame(dict_from_df)

# 生成新的列名 ['a','b','c',...]
new_columns = list(string.ascii_lowercase[:len(new_df.columns)])

# 替换列名
new_df.columns = new_columns

# 查看前几行
new_df.head()

      a    b   c       d
0  1985  ATL  NL  550000
1  1985  ATL  NL  545000
2  1985  ATL  NL  633333
3  1985  ATL  NL  625000
4  1985  ATL  NL  800000

## 5. NumPy

In [17]:
import numpy as np
py2d = [[1, 2, 3],
        [4, 5, 6]]
A = np.array(py2d)
print("(a) A =\n", A)

(a) A =
 [[1 2 3]
 [4 5 6]]

In [19]:
print("\n(b) A.ndim    =", A.ndim)      # 维度个数
print("    A.shape   =", A.shape)       # 各维长度
print("    A.size    =", A.size)        # 元素总数
print("    A.dtype   =", A.dtype)       # 数据类型
print("    A.itemsize=", A.itemsize)    # 单个元素字节数
print("    A.data    =", A.data)        # 内存指针（了解即可）

(b) A.ndim    = 2
    A.shape   = (2, 3)
    A.size    = 6
    A.dtype   = int64
    A.itemsize= 8
    A.data    = <memory at 0x16b1576b0>

In [21]:
B = A.reshape(3, 2)   # 改变形状但共用底层数据
f = A.flatten()       # 拉平成一维（复制）
print("\n(c) B = A.reshape(3,2)=\n", B)
print("    f = A.flatten()   =", f)

(c) B = A.reshape(3,2)=
 [[1 2]
 [3 4]
 [5 6]]
    f = A.flatten()   = [1 2 3 4 5 6]

In [23]:
v = np.array([10, 11, 12, 13, 14, 15])
print("\n(d) 1D slice v[1:4]  =", v[1:4])      # [11,12,13]
print("    1D step v[::2]    =", v[::2])      # 间隔取样
print("    2D row A[0, :]    =", A[0, :])     # 第 0 行
print("    2D col A[:, 1]    =", A[:, 1])     # 第 1 列
print("    2D block A[:, 1:] =\n", A[:, 1:])  # 子块

(d) 1D slice v[1:4]  = [11 12 13]
    1D step v[::2]    = [10 12 14]
    2D row A[0, :]    = [1 2 3]
    2D col A[:, 1]    = [2 5]
    2D block A[:, 1:] =
 [[2 3]
 [5 6]]

In [27]:
x = np.array([[3, -1, 7],
              [0,  5, 2]], dtype=float)
y = np.array([[1, 2, 3],
              [4, 5, 6]], dtype=float)

print("\n(e) x =\n", x)
print("    argmin(x) =", np.argmin(x))        # 扁平索引
print("    argmax(x) =", np.argmax(x))
print("    min(x)    =", np.min(x))
print("    max(x)    =", np.max(x))
print("    mean(x)   =", np.mean(x))
print("    sum(x)    =", np.sum(x))
print("    std(x)    =", np.std(x))
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
print("    dot(a,b)  =", np.dot(a, b))        # 1*4+2*5+3*6=32

# 元素级函数
print("    square(x) =\n", np.square(x))
print("    sqrt(|x|) =\n", np.sqrt(np.abs(x)))
print("    abs(x)    =\n", np.abs(x))
print("    exp(x)    =\n", np.exp(x))
print("    sign(x)   =\n", np.sign(x))
print("    mod(x,2)  =\n", np.mod(x, 2))      # 取模

(e) x =
 [[ 3. -1.  7.]
 [ 0.  5.  2.]]
    argmin(x) = 1
    argmax(x) = 2
    min(x)    = -1.0
    max(x)    = 7.0
    mean(x)   = 2.6666666666666665
    sum(x)    = 16.0
    std(x)    = 2.748737083745107
    dot(a,b)  = 32
    square(x) =
 [[ 9.  1. 49.]
 [ 0. 25.  4.]]
    sqrt(|x|) =
 [[1.73205081 1.         2.64575131]
 [0.         2.23606798 1.41421356]]
    abs(x)    =
 [[3. 1. 7.]
 [0. 5. 2.]]
    exp(x)    =
 [[2.00855369e+01 3.67879441e-01 1.09663316e+03]
 [1.00000000e+00 1.48413159e+02 7.38905610e+00]]
    sign(x)   =
 [[ 1. -1.  1.]
 [ 0.  1.  1.]]
    mod(x,2)  =
 [[1. 1. 1.]
 [0. 1. 0.]]

In [29]:
print("\n(f) arange(0,10,2) =", np.arange(0, 10, 2))   # [0,2,4,6,8]
print("    ones((2,3))  =\n", np.ones((2, 3)))
print("    zeros((2,3)) =\n", np.zeros((2, 3)))
print("    eye(3)       =\n", np.eye(3))               # 3x3 单位阵
print("    linspace(0,1,5) =", np.linspace(0, 1, 5))   # 5 个等间点

u = np.array([1, 2, 3])
w = np.array([4, 5])
print("    concatenate([u,w]) =", np.concatenate([u, w]))
U = np.array([[1, 2],
              [3, 4]])
W = np.array([[5, 6],
              [7, 8]])
print("    concat axis=0 (竖拼) =\n", np.concatenate([U, W], axis=0))
print("    concat axis=1 (横拼) =\n", np.concatenate([U, W], axis=1))

(f) arange(0,10,2) = [0 2 4 6 8]
    ones((2,3))  =
 [[1. 1. 1.]
 [1. 1. 1.]]
    zeros((2,3)) =
 [[0. 0. 0.]
 [0. 0. 0.]]
    eye(3)       =
 [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
    linspace(0,1,5) = [0.   0.25 0.5  0.75 1.  ]
    concatenate([u,w]) = [1 2 3 4 5]
    concat axis=0 (竖拼) =
 [[1 2]
 [3 4]
 [5 6]
 [7 8]]
    concat axis=1 (横拼) =
 [[1 2 5 6]
 [3 4 7 8]]

## 6. Scikit-Learn

Implement small demos for each listed item using simple toy arrays or small DataFrames.  
Be concise but show you understand the API.

In [ ]:
# Preprocessing: StandardScaler / MinMaxScaler / encoders / train_test_split

In [ ]:
# Models: KNN / LinearRegression / LogisticRegression / CV utilities / metrics

In [ ]:
# Tree / RandomForest / AdaBoost / SVM / Multiclass wrappers

In [ ]:
# Unsupervised: KMeans + scipy.cluster.hierarchy (sketch)

In [ ]:
# Semi-supervised: LabelPropagation / LabelSpreading (sketch)

## 7. Git and GitHub (Checklist)

Init a Git repo in this notebook directory (practice).  
Create and switch to `dev` branch; commit the current notebook.  
Merge `dev` → `master` (or `main`).  
Create a temporary repository on GitHub (practice).  
Push the `master` branch to the remote (practice).  
Switch back to `dev`, make small changes, repeat merge & push (practice).

## 8. Matplotlib

In [ ]:
# (a) Basic line plot y vs x with title/xlabel/ylabel/grid

In [ ]:
# (b) Multiple arrays, styles, legend, and annotate with text/math

In [ ]:
# (c) Multiple subplots; play with figure size and font sizes

In [ ]:
# (d) Use gca() to tweak axes

In [ ]:
# (e) Set axis limits and use log-scale

## 9. Seaborn

In [ ]:
# (a)(b) Load the Salaries.csv into a DataFrame and plot with seaborn

In [ ]:
# (c) Statistical estimation: lmplot, catplot, relplot

In [ ]:
# (d) Axis-level: boxplot

In [ ]:
# (e) Structure visualization: pairplot, jointplot